*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-small) {
    font-size: 56.25%;
  }
}

body {
  box-sizing: inherit;
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  line-height: 1.125;
}

h2 {
  line-height: 1.25;
}

.container {
  padding: 3rem 0;
  max-width: 90rem;
  margin: 0 auto;

  @include respond(tab-port) {
    padding: 3rem;
  }

  @include respond(big-desktop) {
    max-width: 120rem;
  }
}
