:root {
  --font-w: 700;
  --outline-col: #3898ec;
  --font-fam: sans-serif, Tahoma;

  --bp-xs: 0;
  --bx-sm: 600px;
  --bp-md: 1024px;
  --bp-lg: 1600px;
  --bp-xl: 2048px;

  --cont-max-w-xs: 480px;
  --cont-max-w-sm: 960px;
  --cont-max-w-md: 1280px;
  --cont-max-w-lg: 1920px;
  --cont-max-w-xl: 3840px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* font-size: 62.5%; */
  font-family: var(--font-fam);
  font-size: 16px;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: var(--cont-max-w-md);
}

/*
**********************************
Form
*********************************
*/

.form {
  max-width: 240px;
  margin-bottom: 10px;
}

.form-control {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}

.form-label {
  font-weight: 700;
  font-size: 1.5rem;
}

.form-input {
}

.form-input:focus {
  outline-color: var(--outline-col);
}

.form-select {
  max-width: fit-content;
}

.form-select:focus {
  border-style: inset;
  outline-color: var(--outline-col);
}

.form-button {
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  overflow: visible;
  border-radius: 4px;
  font-family: inherit;
  text-transform: none;
  background-color: var(--outline-col);
}

/*
**********************************
Quotes
*********************************
*/

.quote-box {
  border: 1px solid black;
  display: flex;
  overflow: hidden;
}

.quote-box-aside {
  flex: 1;
}

.quote-box-aside-top {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #000;
}

.quote-box-aside-top :is(p) {
  margin-left: 6px;
}

.quote-box-icon {
  width: 50px;
  height: 50px;
}

.quote-box-aside-body {
  padding: 10px 0 20px 0;
  display: grid;
  place-items: center;
}

.quote-box-aside-body h4 {
  color: #4129c7;
  font-weight: var(--font-w);
  font-size: 20px;
  margin-bottom: 10px;
}

.quote-box-aside-body p:first-child {
  font-size: 15px;
}

.quote-box-aside-body p:last-child {
  font-size: 15px;
  font-weight: 700;
}

.quote-box-info {
  flex: 2;
  border-left: 1px solid #000;
}

.quote-box-info {
  display: flex;
  flex-direction: column;
}

.quote-box-from-to {
  color: white;
  padding: 6px 0;
  font-weight: 600;
  text-align: center;
  background-color: blue;
}

.quote-box-price {
  font-size: 40px;
  margin: auto;
}
